doctype html
html(lang="en")
  head
    title= pageTitle
    //- script(type='text/javascript').
    //-   alert('Hello Pug')
  body
    h1 Index
    #container.col
      if true
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
      button#btn Click
    #row
      div.column
      div.column
    div
      a(href="./about") About
      br
      a(href="./contact") Contact
        